 *{
    /* padding: 0; */
    margin: 0;
    font-family: 'Metrophobic', sans-serif;
} 
.mainGrid
{
    /* background-color: blue; */
}
.container
{
    background-color: #ff0000;
}
.navbar
{
    width:85%;
    margin:auto;
    justify-content:space-between ;
    padding: 0.7%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo{
    cursor: pointer;
    font-size: 40px;
    color:white;
    
}

.navbar ul li
{
    display:inline-block;
    /* padding: 15px; */
    margin: 0 19px;
    /* padding-left: 7%; */
    position: relative;
}
.navbar ul li button
{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
    padding: 10px;
    color: #ff0000  ;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0;
    background-color: black;
    position:absolute;
    left: 0;
    bottom:-10px;
    transition: 0.4s;  
}
.navbar ul li:hover::after{
    width:100%
 
}

.picAndTextGird
{
    display: grid;
    grid-template-columns: 1fr;
}

.img{
        grid-column: span 1;
        background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)),url("dumbell1\ \(1\).jpg") no-repeat;
        background-size: cover;
}
.img .textInImg{
    padding: 8%;
    color: white;
    text-align: center;
    
}
.bigSizeFontInImg
{
    font-size: 30px;
}

.buttonInImg
{
    padding: 1%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ff0000;
}
.chooseProgram
{
   grid-column: span 1;
   padding-top: 3%;
    color: black;
    text-align: center;
}
.sameLine
{
    color: #ff0000;
}
.chooseProgramText 
{
    display: flex;
    gap: 10px;
    justify-content:center;
}

.imgGird
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.programsList 
{
    font-size: 20px;
    
}

.program
{
    justify-content: center;
    text-align: center;
    color: white;
    /* margin-top: 3%; */
}
.program img{
    margin-top: 5px;
    width: 35%;
    height: 35%;
    border-radius: 10px;
    
}
.program h3{

    color:black;
}

.program .buttons{
    font-size: 15px;
    padding: 3% 7%;
    
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}
a{
    color:  black;
    text-decoration: none;
}
.fonts
{
    font-family: 'Metrophobic', sans-serif;
}
.program p{
    
    font-size: small;
    color: black;
}
.picAndText
{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1px;

}
.smallImg
{
    background:linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.1)),url("dumbell2.jpg") no-repeat;
        background-size: cover;
    
}
.smallImg .textInImg
{
    padding: 5%;
    color: white;
    text-align: center;
}
.classes
{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.animatevideos{
    grid-column: span 1;
    
    background:url(gymBG.jpg) no-repeat;
    background-size: cover;
    animation:slide 7s infinite;
    border: #ff0000;
}
@keyframes slide{
    50%{
      background:url(sixPack.jpg)no-repeat;
      background-size: cover;
    }
    50%{
      background:url(bodyBuliding.jpg)no-repeat;
      background-size: cover;
  
    }
    75%{
      background:url(dumbell2.jpg)no-repeat;
      background-size: cover;
      
    }
  }

.dailyRoutine
{
    color: white;
    justify-content: center;
    background-color: #cec9c979;
}
.daily{
    background-color: #ff0000;
    padding: 1%;
    
}
.list{
    color: black;
}

.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    text-align: left;
    background-color: black;
    padding: 1%;
    color: white;
    
    
}
